{%extends "base.html" %}

{%block content %}
<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .text {
      flex-basis: 70%;
      padding-right: 20px;
    }

    .image {
      flex-basis: 40%;
      text-align: right;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="text">
      <h1>Notre Agence de Voyage Fiable</h1>
      <p>Nous sommes fiers de vous présenter notre agence de voyage, reconnue pour sa fiabilité et son professionnalisme exceptionnel. Avec des années d'expérience dans l'industrie du tourisme, nous nous efforçons de fournir les meilleures expériences de voyage à nos clients.</p>
      <p>Notre agence est fondée par deux personnes passionnées par les voyages, Adam et Zayd. Leur expertise combinée et leur amour pour l'aventure ont inspiré la création de cette agence, avec pour objectif principal d'offrir des services de voyage de haute qualité et fiables.</p>
      <p>Nous comprenons l'importance de créer des souvenirs durables lors de vos voyages. C'est pourquoi nous nous engageons à vous offrir des itinéraires bien planifiés, des hébergements confortables, des guides compétents et des expériences authentiques.</p>
      <p>Que vous souhaitiez explorer des destinations exotiques, vous détendre sur des plages paradisiaques ou découvrir des cultures fascinantes, notre agence est là pour réaliser vos rêves de voyage. Nous nous efforçons de rendre chaque voyage mémorable et sans souci.</p>
      <p>En choisissant notre agence, vous pouvez avoir confiance en notre engagement envers la qualité, la sécurité et la satisfaction de nos clients. Nous sommes fiers de notre réputation de fiabilité et de notre approche personnalisée pour répondre à vos besoins spécifiques.</p>
      <p>Notre équipe dévouée est là pour vous accompagner à chaque étape de votre voyage, depuis la planification initiale jusqu'à votre retour à la maison. Nous sommes toujours disponibles pour répondre à vos questions, vous fournir des conseils précieux et vous assurer une expérience de voyage inoubliable.</p>
      <p>Rejoignez-nous dès aujourd'hui et laissez-nous vous guider vers des aventures extraordinaires dans le monde entier. Faites confiance à notre agence de voyage fiable pour réaliser vos rêves de voyage les plus fous.</p>
    </div>
    <div class="image">
      <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/4333/suntanning-sunless-tanning.jpg" alt="Agence de Voyage">
    </div>
  </div>
</body>
</html>


{% endblock %}